In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
df= pd.read_pickle("/content/drive/MyDrive/Merged_New_+1_Twitter Processed Text with Time and Sentiments_Fresh.pkl")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 16 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Time                                          179 non-null    object
 1   Date                                          179 non-null    object
 2   News source                                   179 non-null    object
 3   Title                                         179 non-null    object
 4   Description                                   179 non-null    object
 5   index                                         179 non-null    int64
 6   timestamp                                     179 non-null    float64
 7   uid                                           179 non-null    object
 8   url                                           179 non-null    object
 9   url_uid                                       179 non-null    int64
 10  phrase_split_by_dot                           179 non-null    object
 11  sentimental_analysis_split_by_dot             179 non-null    object
 12  sentimental_analysis_split_by_dot_average     179 non-null    float64
 13  sentimental_analysis_oncomplete_text          179 non-null    float64
 14  sentimental_analysis_oncomplete_text_average  179 non-null    float64
 15  Stock Prices                                  134 non-null    float64
dtypes: float64(5), int64(2), object(9)
memory usage: 22.5+ KB

cleaning

In [6]:
df= df[df["Stock Prices"].notna()]
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134 entries, 4 to 177
Data columns (total 16 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Time                                          134 non-null    object
 1   Date                                          134 non-null    object
 2   News source                                   134 non-null    object
 3   Title                                         134 non-null    object
 4   Description                                   134 non-null    object
 5   index                                         134 non-null    int64
 6   timestamp                                     134 non-null    float64
 7   uid                                           134 non-null    object
 8   url                                           134 non-null    object
 9   url_uid                                       134 non-null    int64
 10  phrase_split_by_dot                           134 non-null    object
 11  sentimental_analysis_split_by_dot             134 non-null    object
 12  sentimental_analysis_split_by_dot_average     134 non-null    float64
 13  sentimental_analysis_oncomplete_text          134 non-null    float64
 14  sentimental_analysis_oncomplete_text_average  134 non-null    float64
 15  Stock Prices                                  134 non-null    float64
dtypes: float64(5), int64(2), object(9)
memory usage: 17.8+ KB

,index,timestamp,url_uid,sentimental_analysis_split_by_dot_average,sentimental_analysis_oncomplete_text,sentimental_analysis_oncomplete_text_average,Stock Prices
count,134.000000,1.340000e+02,134.000000,134.000000,134.000000,134.000000,134.000000
mean,122.850746,1.650830e+12,12.723881,0.214694,0.228148,0.228148,44.175672
std,68.904806,0.000000e+00,6.848952,0.359133,0.411398,0.411398,14.540287
min,2.000000,1.650830e+12,1.000000,-0.718400,-0.820100,-0.820100,14.660000
25%,66.250000,1.650830e+12,7.000000,-0.047063,-0.114825,-0.114825,35.495000
50%,122.500000,1.650830e+12,13.000000,0.296000,0.340000,0.340000,42.879999
75%,178.500000,1.650830e+12,18.000000,0.440400,0.476700,0.476700,54.372501
max,249.000000,1.650830e+12,25.000000,0.844200,0.877900,0.877900,71.690002

In [ ]:
df['Stock'].replace('', np.nan, inplace=True)

In [ ]:
df.dropna(subset=['Stock'], inplace=True)

In [ ]:
df.shape

Saving

In [9]:
df.rename(columns = {'Stock Prices':'Stock'}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134 entries, 4 to 177
Data columns (total 16 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Time                                          134 non-null    object
 1   Date                                          134 non-null    object
 2   News source                                   134 non-null    object
 3   Title                                         134 non-null    object
 4   Description                                   134 non-null    object
 5   index                                         134 non-null    int64
 6   timestamp                                     134 non-null    float64
 7   uid                                           134 non-null    object
 8   url                                           134 non-null    object
 9   url_uid                                       134 non-null    int64
 10  phrase_split_by_dot                           134 non-null    object
 11  sentimental_analysis_split_by_dot             134 non-null    object
 12  sentimental_analysis_split_by_dot_average     134 non-null    float64
 13  sentimental_analysis_oncomplete_text          134 non-null    float64
 14  sentimental_analysis_oncomplete_text_average  134 non-null    float64
 15  Stock                                         134 non-null    float64
dtypes: float64(5), int64(2), object(9)
memory usage: 17.8+ KB

In [7]:
df.to_csv('/content/drive/MyDrive/Stock+Sentiment_Twitter.csv')

In [11]:
df.to_pickle('/content/drive/MyDrive/Stock+Sentiment_Twitter.pkl')